# exclude all
*
# except important dot files and subdirectories
!.bash_profile
!.bashrc
!.emacs
!.ghci
!.gitconfig
!.gitignore
!.gvimrc
!.inputrc
!.profile
!.pylintrc
!.screenrc
!.spacemacs
!.tmux.conf
!.xmobarrc
!.xmonad
!.xsession
!.vim
!.vimrc
!emacs
