# exclude all
*
# except important dot files and subdirectories
!.autorun.cmd
!.bash_profile
!.bashrc
!.emacs
!.gitignore
!.gvimrc
!.inputrc
!.profile
!.pylintrc
!.screenrc
!.tmux.conf
!.xmobarrc
!.xmonad
!.xsession
!.vim
!.vimrc
!emacs
