[user]
	name = David Joyner
	email = david@joynerhome.net

[core]
	# Turn off git's line-ending conversions...
	# whatever line endings are present in a file are used w/o translation
	autocrlf = false
        # Global .gitignore
	excludesfile = /Users/djoyner/.gitignore_global

[gc]
	# Turn off automatic garbage collection
	auto = 0

[branch]
	# When branching off a remote branch, automatically set up tracking
	autosetupmerge = true

[diff]
	# Tell diff to use mnemonic path prefixes instead of 'a' and 'b'...
	# (i)ndex, (w)ork tree, (c)ommit, (o)bject
	mnemonicprefix = true
	# Allow diff to do basic copy and rename detection
	renames = copies

[difftool]
	# Don't waste my time between invocations of difftool
	prompt = false

[mergetool]
	# Don't waste my time between invocations of mergetool
	prompt = false
	# Don't keep pesky backup files
	keepBackup = false

[rerere]
	# Enable recording of resolved conflicts so identical hunks can be auto-resolved
	enabled = true

[push]
	# Tell 'git push' to push only the current branch to its upstream branch...
	# and only if the upstream branch is named the same as the current one
	default = matching

[alias]
	# Force 'git diff' to highlight inline word changes
	diff = diff --word-diff
	# Force 'git grep' to ignore binary files
	grep = grep -I
	# Basic abbreviations
	br = branch -ra
	ci = commit
	cl = clone
	co = checkout
	cob = checkout -b
	st = status -sb
	up = pull --rebase --prune
        # Nuke branch
        nuke = "!f() { git branch -D "$1"; git push origin ":$1"; }; f"
	# Reset --hard shortcuts
	rh = reset --hard
	rh1 = reset --hard HEAD^
	rh2 = reset --hard HEAD^^
	# Better logs
	ls = log --oneline --decorate
	ll = log --oneline --decorate --numstat
	# Short log of last commit
	llc = "!git ll -1"
	# Short log of single commit, given revision
	llr = "!f() { git ll "$1"^.."$1"; }; f"
	# Diff against the index (cached)
	dc = "!git diff --cached"
	# Diff of the last commit
	dlc = "!git diff --cached HEAD^"
	# Diff of single commit, given revision
	dr = "!f() { git diff "$1"^.."$1"; }; f"
	# What branches contain a given revision
	brr = "!git br --contains"
	# Find files inside the repo
	f = "!git ls-files | GREP_OPTIONS= grep -i"
	# File log
	fl = log -u

[magit]
	hideCampaign = true
