# These are for proper 8-bit characters (едц, etc.)
set meta-flag on
set input-meta on
set output-meta on
set convert-meta off

# Never beep or flash the screen
set bell-style none

# Be case-insensitive (nice on Windows machines)
set completion-ignore-case on

# These are also nice for tab-completion
set completion-query-items 16
set mark-symlinked-directories on
set print-completions-horizontally on
set show-all-if-unmodified on

# Set vi-mode
set editing-mode vi
set keymap vi
